.myBtn {
    padding: 12px 20px;
    gap: 8px;
    color: #373745;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;

    background: #F7F7F7;
    border-radius: 12px;

    &:hover {
        background: #DCDCDF;
    }

}