.myBtn {
    padding: 12px 20px;
    gap: 8px;
    color:white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;

    background: #60C2AA;
    border-radius: 12px;

}

.myBtn:hover {
    background: #3BA189
}


.myBtn:disabled {
    background: #60C2AA4D;
    cursor: default;
}


