.createPlayer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0, 0.5);
    z-index:15;
}

.createPanel {
    display: flex;
    flex-direction: column;
    padding: 24px 24px 40px;
    gap: 20px;

    background: #FFFFFF;

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;

    width: 400px;

}

.createPlayer.active {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0px;
}
