
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;

    position: fixed;
    width: -webkit-fill-available;
    left: 0;
    top: 0;
    z-index: 10;


    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
    white-space: nowrap;
}

.nav-panel {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    font-weight: 500;

}
.nav-item {
    letter-spacing: 0.24px;
    color: #373745;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-radius: 200px;
    padding: 8px 12px;
    transition: all .2s ease-in-out;
    &:hover {
        background: #60c2aa2f;
    }
}

.active {
    background: #60C2AA;
    color: #FFFFFF;
    &:hover {
        background: #60C2AA;
    }
}


.nav-item {
    text-decoration: none;
}